@import "../lib/style-deps";

.header-wrapper {
    @include size(100%, 50px);
    border-bottom: 1px solid col_grey("g4");
    @include flex;
    padding: 0 25px;
}

.logo-wrapper {
    flex: 1;
    @include flex($ai: center);
}

.logo {
    @include font(16px, 900);
}

/* normal header */

.nav-wrapper {
    flex: 2;
    @include flex;
}

.nav-item {
    flex: 1;
    @include flex(center, center);
    cursor: pointer;
    @include font(17px, 400, 17px);

    &.active {
        box-shadow: inset 0 -2px 0 #000;
    }

    .text {
        margin-left: 5px;
    }
}

.user-profile-wrapper {
    flex: 1;
    @include flex(flex-end, center);
}

.profile-circle {
    @include size(40px);
    @include flex(center, center);
    background: col_grey('g2');
}

/* gameplay header */
.game-rel {
    @include flex($ai: center);
}

.clock {
    width: 200px;
    @include font(16px, 600);
}

.time-count {
    margin-left: 5px;
}

.game-controls {
    @include flex($ai: center);
}

.play-pause, .stop {
    @include size(40px);
    @include flex(center, center);
}