@import '../lib/style-deps';

.gameplay-wrapper {
    @include flex;
    @include size($height: 100%);
}

.paragraph-text_input-wrapper {
    flex: 3;
    padding: 15px 25px;
    border-right: 1px solid col_grey('g4');
    @include flex($fd: column);
    position: relative;
}

.paragraph-text-wrapper {
    flex: 1;
    @include font(19px);

    span.correct, span.correct-char {
        color: col_green('g5');
    }

    span.wrong {
        color: rgb(255, 16, 16);
    }

    span.wrong-char, span.wrong-prev-chars {
        text-decoration: underline;
        text-decoration-color: rgb(255, 16, 16);
        text-decoration-thickness: 2px;
    }

    span.press-space {
        @include font(12px, 600);
        color: col_grey('g6');
    }

}

.word-input-wrapper {
    height: 50px;
    border: 2px solid col_green('g3');
    border-radius: 9px;
    margin-bottom: 100px;

    input {
        @include size(100%, 100%);
        @include font(18px);
        background: transparent;
        padding: 0 10px;

        &:disabled {
            cursor: not-allowed;
        }
    }
}

.countdown-to-gamestart {
    @include pos(35%, 50%);
    transform: translate(-50%, -35%);
    @include size(200px);
    background: radial-gradient(col_green('g2') 40%, col_green('g1') 40%, rgba(#fff, .7) 70%, rgba(#fff, .7) 100%);
    // backdrop-filter: blur(5px);
    @include flex(center, center);
    @include font(64px, 600);
    padding-top: 5px;
}