@import '../lib/style-deps';

.gravity-space-wrapper {
    flex: 1;
    padding: 15px 25px;
    @include flex(space-between, center, column);
}

.tff-value,
.egp-value {
    text-align: center;
}

.space {
    overflow-y: hidden;
    width: 150px;
    flex: 1;
    border-top: 3px solid col_green('g7');
    border-bottom: 3px solid rgb(232, 6, 6);
    position: relative;
    border-radius: 9px;
    @include flex(center);
}

.ball {
    @include pos(calc(100% - 50px));
    @include size(50px);
    background: col_green('g7');
    @include flex(center, center);
    box-shadow: 0 0 10px col_grey('g5');
    transition: top 1s linear;

    .middle {
        @include size(30px);
        background: col_green('g5');
        @include flex(center, center);
    }

    .inner {
        @include size(10px);
        background: col_green('g3');
    }
}