@import "../lib/style-deps";

.header-wrapper {
    @include size(100%, 42px);
    border-bottom: 1px solid col_grey("g4");
    @include flex;
    padding: 0 10px;
}

.logo-wrapper {
    flex: 1;
    @include flex($ai: center);
}

.logo {
    @include font(16px, 900);
}

.nav-wrapper {
    flex: 2;
    @include flex;
}

.nav-item {
    flex: 1;
    @include flex(center, center);
    cursor: pointer;
    @include font(12px, 600);

    &.active {
        box-shadow: inset 0 -2px 0 #000;
    }
}

.user-account-wrapper {
    flex: 1;
}