@import "../lib/style-deps";

.header-wrapper {
  @include size(100%, 50px);
  border-bottom: 1px solid col_grey("g4");
  @include flex;
  padding: 0 25px;
}

.logo-wrapper {
  flex: 1;
  @include flex($jc: center, $ai: center);
}

.logo {
  @include font(16px, 900);
}
