@import '../lib/style-deps';

.home-wrapper {
    // @include size($height: 100%);
    @include flex;
}

.left-wrapper {
    flex: 2;
    border-right: 1px solid col_grey('g4');
    padding: 0 25px;
}

.htgw-title {
    @include font(28px, 900);
    margin-top: 15px;
}

.htgw-content {
    height: 350px;
    margin: 10px 0 15px;
}

.user-actions {
    @include flex(space-between, center);
}

button.start-game {
    border-radius: 9px;
    background: #000;
    @include font(14px, 600);
    color: #fff;
    padding: 10px 15px;
}


.right-wrapper {
    flex: 1;
    padding: 0 25px;
}

.br-title {
    margin-top: 15px;
    @include font(14px, 600);
}